$color-primary    : #0d6efd;
$color-secondary  : #ed2553;
$color-danger     : #d00000;
$color-success    : #55a630;
$color-info       : #072ac8;
$color-warning    : #ffc300;
$color-light      : #ffffff;
$color-dark       : #1f1f1f;
$color-dark-light : #d9d9d9;
$color-black      : #0d0d0d;
$color-dark-solid :#2e2e2e;
$color-grey-light : #d9d9d9